mat-card {
  margin: auto;
}
.example-card {
  color: var(--color-text);
  background-color: var(--color-bg);
  //padding-top: 2vh;
  padding-bottom: 1vh;
  border: none;
  .div-flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      .div-info {
        width: 60%;
        text-align: left;
        .div-card-header {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          .div-tags {
            display: flex;
            flex-direction: row;
            gap: 2vh;
            .tag {
              color: var(--color-text);
            }
          }
        }
      }
      .div-img {
        width: 40%;
        text-align: center;
        &__foto {
          border-radius: 20px;
          transform: rotate(3deg);
        }
        &__project {
          border-radius: 20px;
        }
      }
  }
}

@media screen and (max-width: 767px) {
  .example-card {
    .div-flex {
      padding-top: 20px;
      flex-direction: column-reverse;
      .div-info {
        width: 100%;
        mat-card-header{
          padding: 0;
        }
      }
      .div-img {
        width: 100%;
      }
    }
  }
  mat-card-actions{
    justify-content: center;
  }
}
