.footer {
    max-width: 1400px; //Mantener el tamaño cuando Aumenta/Disminuye 
    margin: 0 auto; //Centrar Contenido
    align-items: center; //Alinear Items dentro
    color: var(--color-text);
    padding: 40px;
    &__content {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        &__links {
            display: flex;
            gap: 30px;

            a {
                text-decoration: none;
                color: var(--color-text);
            }
        }
    }
}