<mat-toolbar class="mat-toolbar">
  <!-- <li class="nav-item">
    <a class="nav-link" href="#experiencia">Experiencia</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="/projects">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sobre-mi">Sobre mí</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="mailto:jhonatanribu25@gmail.com">Contacto</a>
  </li>
  <a matButton="outlined" target="_blank" href="assets/files/cv.pdf" rel="noopener noreferrer">Descargar CV</a>
  <li class="nav-item">
    <a class="nav-link">
      <mat-icon
      aria-hidden="true"
      aria-label="dark_mode"
      fontIcon="dark_mode"
      (click)="toggleDarkTheme()"
      style="margin-top: 0.5vh; margin-left: 0.5vh;"
    >
    dark_mode
    </mat-icon>
    </a>
  </li>
</mat-toolbar>
