.mat-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: center;
  gap: 20px;
  background-color: var(--color-bg-nav);
  color: var(--color-text-navlink);
}