<div class="container">
  <div class="div-flex">
    <div class="div-section">
      <div class="div-title">
        <mat-list-item>
        <div matListItemTitle>
          <span><mat-icon matListItemIcon>folder</mat-icon></span
          >Colaborador Programador Web
        </div>
        <div style="display: flex; gap: 30px">
          <div matListItemLine style="width: 50vw">
            <p style="white-space: normal">
              Desarrollo de un prototipo de Sistema de Ventas para una joyería
              <b>(Proyecto Académico)</b>
            </p>
          </div>
        </div>
      </mat-list-item>
      </div>
      <div matListItemLine>
        <p >
          Contribuí en las etapas de análisis y diseño generando los diagramas
          UML, programación del backend con PHP y frontend con JS, HTML y CSS
          nativo para la elaboración del prototipo, además se usó la metodología
          SCRUM para el desarrollo.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="div-flex">
    <div class="div-section">
      <div class="div-title">
        <mat-list-item>
        <div matListItemTitle>
          <span><mat-icon matListItemIcon>folder</mat-icon></span
          >Colaborador Programador Backend
        </div>
        <div matListItemLine>
          <p style="white-space: normal">
            Desarrollo de asistente para generación de sets de música basados en
            tonalidad y BPM
            <b>(Feria de Proyectos FIIS 23-1)</b>
          </p>
        </div>
      </mat-list-item>
      </div>
      <div matListItemLine>
        <p >
          Mi aporte fue apoyar en el desarrollo de la documentación del proyecto
          siguiendo el marco del PMBoK, y en el desarrollo del prototipo hice la
          extracción de datos de la API Spotify donde recuperé datos de
          artistas, nombres de canciones, géneros, tonalidades, entre otros,
          para integrarlos en la aplicación web de búsqueda de canciones.<br /><br />
          <a
            href="https://www.facebook.com/ACREDITACIONYCALIDADFIIS/videos/246305404871839"
            style="text-decoration: none"
            ><span class="saber-mas">Saber más ></span></a
          >
        </p>
      </div>
    </div>
  </div>
</div>










<!-- <mat-list-item>
        <div matListItemTitle>
          <span><mat-icon matListItemIcon>folder</mat-icon></span
          >Colaborador Programador Backend
        </div>
        <div matListItemLine>
          <p style="white-space: normal">
            Desarrollo de asistente para generación de sets de música basados en
            tonalidad y BPM
            <b>(Feria de Proyectos FIIS 23-1)</b>
          </p>
        </div>
      </mat-list-item> -->


<!-- <mat-divider></mat-divider> -->
<!-- <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>Colaborador Programador Backend</div>
      <div matListItemLine>
        <p style="white-space: normal">
          Desarrollo de asistente para generación de sets de música basados en
          tonalidad y BPM
          <b>(Feria de Proyectos FIIS 23-1)</b>
        </p>
      </div>
    </mat-list-item>
  </mat-list>
</div> -->

<!-- <div matListItemLine class="flexcard__project">
  Desarrollo de un prototipo de Sistema de Ventas para una joyería
  <b>(Proyecto Académico)</b>
</div> -->

<!-- <div
        matListItemLine
        class="flexcard__description"
        style="padding-left: 7vw"
      >
        Contribuí en las etapas de análisis y diseño generando los diagramas
        UML, programación del backend con PHP y frontend con JS, HTML y CSS
        nativo para la elaboración del prototipo, además se usó la metodología
        SCRUM para el desarrollo.
      </div> -->

<!-- <div
          matListItemLine
          class="flexcard__description"
          style="padding-left: 4vw"
        >
          Mi aporte fue apoyar en el desarrollo de la documentación del proyecto
          siguiendo el marco del PMBoK, y en el desarrollo del prototipo hice la
          extracción de datos de la API Spotify donde recuperé datos de
          artistas, nombres de canciones, géneros, tonalidades, entre otros,
          para integrarlos en la aplicación web de búsqueda de canciones.<br /><br />
          <a
            href="https://www.facebook.com/ACREDITACIONYCALIDADFIIS/videos/246305404871839"
            style="text-decoration: none"
            ><span class="saber-mas">Saber más ></span></a
          >
        </div> -->
