.example-card {
  padding-top: 2vh;
  padding-bottom: 1vh;
  .div-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3vh;
    margin: auto;
    align-items: center;
    .div-info {
      width: 40%;
      text-align: left;
      .div-card-header {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        .div-tags {
          display: flex;
          flex-direction: row;
          gap: 2vh;
        }
      }
    }
    .div-img {
      width: 50%;
      img {
        border-radius: 5vh;
        width: 80%;
      }
    }
  }
}
