/* You can add global styles to this file, and also import other style files */
@use 'variables/typography.scss' as type;
body{
  font-family: type.$main-family-regular, sans-serif;
  font-size: 14px;
  color: #3c3c3c;
}
