<div class="container">
  <app-navbar></app-navbar>
  <app-section-presentation></app-section-presentation>
  <div class="div-section" id="experiencia">
    <div class="div-section__title">
      <span>
        <mat-icon
          aria-hidden="true"
          aria-label="Example work"
          fontIcon="work"
        ></mat-icon>
      </span>
      Experiencia
    </div>
    <app-experience />
  </div>
  <div class="div-section" id="proyectos">
    <div class="div-section__title">
      <span>
        <mat-icon
          aria-hidden="true"
          aria-label="Example code"
          fontIcon="code"
        ></mat-icon>
      </span>
      Proyectos
    </div>
  </div>
  <div class="div-section" id="sobre-mi">
    <div class="div-section__title">
      <span>
        <mat-icon
          aria-hidden="true"
          aria-label="Example code"
          fontIcon="person_check"
        ></mat-icon>
      </span>
      Sobre mí
    </div>
    <app-sobre-mi />
  </div>
  <div style="padding: 2%; color: var(--color-text); width: 50vw; margin: auto;">
    <div style="display: flex; gap: 20%">
      <div>© 2024 jhoribu25. Casi todos los derechos reservados</div>
      <div style="display: flex; gap: 3vh">
        <a
          href="#sobre-mi"
          style="text-decoration: none; color: var(--color-text)"
          ><div>Sobre Mi</div></a
        >
        <a
          href="mailto:jhonatanribu25@gmail.com"
          style="text-decoration: none; color: var(--color-text)"
          ><div>Contacto</div></a
        >
      </div>
    </div>
  </div>
</div>
