$main-family: "Onest";
$main-family-black: '#{$main-family}-Black';
$main-family-bold: '#{$main-family}-Bold';
$main-family-extrabold: '#{$main-family}-ExtraBold';
$main-family-extralight: '#{$main-family}-ExtraLight';
$main-family-light: '#{$main-family}-Light';
$main-family-medium: '#{$main-family}-Medium';
$main-family-regular: '#{$main-family}-Regular';
$main-family-semibold: '#{$main-family}-SemiBold';
$main-family-thin: '#{$main-family}-Thin';
