<app-navbar></app-navbar>
<section class="presentation">
  <div class="presentation__content">
    <h1>{{project.title}}</h1>
    <div class="presentation__info">
      <p>
        {{project.description}}
      </p>
    </div>
    <div class="presentation__website">
      <a href="{{project.projectUri}}" mat-flat-button target="_blank">ENLACE AL PROYECTO</a>
    </div>
  </div>
</section>
<section class="details">
  <div class="main-container">
    <div class="details__content">
      <div class="details__content__img">
        <img src="{{project.imgUri}}" alt="Project Image" loading="lazy">
      </div>
      <div class="details__content__main">
        <div class="details__content__main__description">
          <h2 class="project-details__content-title">Descripción del Proyecto</h2>
          <p>{{project.longDescription}}</p>
        </div>
        <div class="details__content__main__tools">
          <h2 class="project-details__content-title">Herramientas usadas</h2>
          <mat-chip-set aria-label="Fish selection">
            @for (tag of project.tags; track $index) {
              <mat-chip style="padding: 15px;">{{ tag }}</mat-chip>
            }
          </mat-chip-set>
        </div>
        <div class="details__content__main__links">
          <h2 class="project-details__content-title">Enlaces</h2>
          <a href="{{project.projectUri}}" mat-flat-button
            target="_blank" rel="noreferrer">Enlace al Proyecto</a>
          <a href="/" mat-raised-button>Atras</a>
        </div>
      </div>
    </div>
  </div>
</section>