.presentation {
    position: relative;
    background-position: center center;
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 800;
    }
    &__content{
        padding: 10rem 0 17rem 0;
        max-width: 90rem;
        width: 92%;
        margin: auto;
    }
    &__info{
        text-align: center;
        p{
            font-size: 1.2rem;
            text-align: center;
            width: 100%;
            line-height: 1.6;
        }
    }
    &__website{
        text-align: center;
        a{
            padding: 25px 40px;
        }
    }
}

.details{
    position: relative;
    background-position: center center;
    .main-container {
        max-width: 100rem;
        margin: auto;
        width: 90%;
    }
    &__content{
        padding: 6rem 0;
        max-width: 80rem;
        margin: auto;
        &__img{
            width: 100%;
            margin-bottom: 4rem;
            img{
                width: 100%;
            }
        }
        &__main{
            width: 100%;
            max-width: 70rem;
            margin: auto;
            &__description{
                margin: 0 0 4rem 0;
                h2{
                    font-weight: 700;
                    font-size: 1.8rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.7;
                    margin-bottom: 2rem;
                }
            }
            &__tools{
                margin: 0 0 4rem 0;
                h2{
                    font-weight: 700;   
                    font-size: 1.8rem;
                    margin-bottom: 2rem;
                }
            }
            &__links{
                margin: 0 0;
                h2{
                    font-weight: 700;   
                    font-size: 1.8rem;
                    margin-bottom: 2rem;
                }
            }
        }
        
    }
}