@use "../../../../styles/variables/typography.scss" as typo;

.section {
  max-width: 1400px; //Mantener el tamaño cuando Aumenta/Disminuye 
  margin: 0 auto; //Centrar Contenido
  align-items: center; //Alinear Items dentro
  padding-top: 3vh;

  .presentation {
    position: relative;
    background-position: center center;
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 800;
        padding-bottom: 4rem;
    }
    &__content {
      padding: 10rem 0 10rem 0;
      max-width: 90rem;
      width: 92%;
      margin: auto;
    }
    
    &__info {
      text-align: center;

      p {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
        line-height: 1.6;
      }
    }
  }

}