<mat-card appearance="outlined">
  <div class="container">
    <div class="container__info">
      <mat-card-header>
        <div class="flex-card-header">
          <div mat-card-avatar class="example-header-image"></div>
          <a href="{{linkedin}}" style="text-decoration: none">
            <div class="flex-card-header__btn-job" style="background-color: var(--color-bg)">
              Disponible para trabajar
            </div>
          </a>
        </div>
        <div>
          <mat-card-title>Hey, Soy {{shortname}}</mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p>+ {{years_experience}} {{(years_experience == 1 ? "año": "años" )}} de experiencia. De {{city}}, {{country}}.
          <br>{{grade}} de {{career}} en la {{university}}.
          <br>Especializado en el {{speciality}}.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button href="mailto:{{email}}">Contáctame</a>
        <a mat-button href="{{linkedin}}">Linkedin</a>
      </mat-card-actions>
    </div>
    <div class="container__img">
      <object data="assets/icons/merge-2.svg"></object>
    </div>
  </div>
</mat-card>